body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(135deg,#020617,#0f172a,#020617);
color:white;
}

/* SIDEBAR */

.sidebar{
width:220px;
height:100vh;
position:fixed;
background:#020617;
padding:20px;
}

.sidebar h2{
color:#38bdf8;
}

.sidebar a{
display:block;
color:white;
padding:10px;
margin:5px 0;
text-decoration:none;
border-radius:5px;
}

.sidebar a:hover{
background:#1e293b;
}

/* MAIN */

.main{
margin-left:240px;
padding:20px;
}

/* CARD */

.card{
background:rgba(255,255,255,0.08);
padding:20px;
border-radius:10px;
margin:10px 0;
}

/* INPUT */

input{
width:100%;
padding:8px;
margin:5px 0;
}

/* BUTTON */

button{
padding:8px;
background:#38bdf8;
border:none;
cursor:pointer;
}
